/* #main-container {
  display: flex;
} */

/* elements */

html {
  height: 100%;
}

body {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  height: 100%;
}

/* classes */

.game-board {
  box-shadow: 2px 0px 20px -1px #2c3e50;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: #57728c;
  transform: translateZ(20px);
}

.disable-clicking {
  pointer-events: none;
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  cursor: pointer;
}

.score {
  padding-top: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.win-message {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* IDs */

#side-container {
  box-shadow: 2px 0px 15px -1px #2c3e50;
  padding-top: 30px;
  color: white;
  margin-top: 250px;
  margin-left: 40px;
  float: left;
  border-radius: 10%;
  width: 20%;
  height: 300px;
  text-align: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#title {
  padding-top: 50px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
  color: white;
}

#reset-button {
  border: 1px solid white;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  margin-top: 25px;
  color: white;
  border-radius: 10%;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  transform: translateZ(20px);
}

#switch-button {
  border: 1px solid white;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  margin-top: 25px;
  color: white;
  border-radius: 10%;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  transform: translateZ(20px);
  margin-left: 10px;
}

#side-container p {
  transform: translateZ(20px);
}

#reset-button:hover {
  cursor: pointer;
}

#switch-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  #title {
    display: none;
  }

  #side-container {
    border-radius: 2%;
    margin: 10px;
    width: 95%;
  }

  .game-board {
    width: 300px;
    height: 300px;
  }
}
